.body{ 
  font-family: 'Open Sans', sans-serif;
  margin-left: 80px;
  display: flex;
}

.center {
  margin-left:auto; 
  margin-right:auto;
}


.login {
  width: 500px;
  align-items: left;
  text-align: left;
}

.navbar, .navbar_collapsed {
  position:  fixed;
  height: 100%;
  width: 270px;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
}
.navbar_collapsed {
  width: 70px;
}

.main{
  background-color: #282c34;
  color: aliceblue;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.erroMessage{
  color: red;
}


.homePageLogo{
  max-width: 800px;
  max-height: 300px;
}

.smallPosterImage{
  max-width: 100px;
  max-height: 200px;
}

.largePosterImage{
  max-width: 300px;
  max-height: 900px;
}

.numberInputField{
  max-width: 30px;
}

.dateInputField{
  max-width: 125px;
}

.link{
  color:rgb(240, 248, 255)
}
.link:hover{
  color:rgba(240, 248, 255, 0.479)
}

.no-border{
  border: transparent;
}

/* modify inpout fields to hide the arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* modify input fields to center text */
input { 
  text-align: center; 
}

/* modify tables to only have horizontal lines, margins etc. */
table {
  border-collapse: collapse;
}
th {
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
}
tr {
  border-top: 2px solid aliceblue;
  border-bottom: 2px solid aliceblue;
}
th, td {
  padding-right:10px;
  padding-left:10px;
}

