.body{ 
  font-family: 'Roboto', sans-serif;
  margin-left: 80px;
  display: flex;
}

.center {
  margin-left:auto; 
  margin-right:auto;
}


.login {
  width: 500px;
  align-items: left;
  text-align: left;
}

.navbar, .navbar_collapsed {
  position:  fixed;
  height: 100%;
  width: 270px;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
}
.navbar_collapsed {
  width: 70px;
}

.main{
  background-color: #282c34;
  color: aliceblue;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.erroMessage{
  color: red;
}